body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/bgregister.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.editable {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #66a3ff;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: calc(100% - 24px); /* Adjusting width for borders and padding */
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.delete {
    background-color: #f44336; /* Red color for delete button */
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.error-message {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.alert p {
    margin: 0;
}

.alert.hidden {
    display: none;
}

.alert.success {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #218838;
}

.fade-out {
    opacity: 0;
}
